@import "tailwindcss";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

.bg-primary { @apply bg-blue-500; }
.bg-success { @apply bg-green-500; }
.bg-danger { @apply bg-red-500; }
